{#
/**
 * Factory Template file
 *
 * Factory Template used when baking factories with bake
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @modified by   Todd Hossack 
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
<?php
namespace {{ namespace }}\Test\Factory;

use Cake\I18n\Time;
use Cake\Utility\Text;

use CakephpFixtureFactories\Factory\BaseFactory as CakephpBaseFactory;
use Faker\Generator;

/**
 * {{ name }}Factory
 */
class {{ name }}Factory extends CakephpBaseFactory
{

    /**
     * Defines the Table Registry used to generate entities with
     *
     * @return string
     */
    protected function getRootTableRegistryName(): string
    {
        return '{{ registryName }}';
    }

    /* 
     * Schema: 
     
        {{ schema|raw }}
        
    */
    
    /**
     * Defines the factory's default values. This is useful for
     * not nullable fields. You may use methods of the present factory here too.
     *
     * @return void
     */
    protected function setDefaultTemplate()
    {
        $this->setDefaultData(function (Generator $faker) {
            return [
    {% if generatorColumns -%}
        {% for field,generator in generatorColumns %}
            '{{ field }}' => {{ generator|raw }},
        {% endfor %}
    {%- endif %}
            ];
        });
    }

    /**
     * @param array|callable|null|int $parameter
     * @return PlanFactory
     */
    public static function makeWithRequired($times=1,$props=[],$assoc=[]): {{ name }}Factory
    {
        
        return static::make([
            'created' => new Time()
        ],$times);
    }

}
